@page "/images"
@implements IDisposable
@using System.IO;
@using System.Diagnostics;
@using FFmpegBlazor
@inject IJSRuntime Runtime
@using Microsoft.AspNetCore.Components.Forms

<style>
    .statusmessage {
        white-space: pre;
        inline-size: min-content;
        overflow-wrap: break-word;
    }
</style>

<h3>Convert an Image</h3>

<InputFile OnChange="FileLoad" />
<br />
<br />
<button class="btn btn-primary" @onclick="Process">Convert to AVI</button>
<br />
<br />
<div class="statusmessage" id="statusmsg">@statusmsg</div>

@code
{
    private const int _maxFileSizeAllowed = 200 * 1024 * 1024;  // 200 MB file limit
    string statusmsg = String.Empty;
    string inputFileName;
    string outputFileName;
    FFMPEG ff;
    byte[] buffer;
    Stopwatch _stopWatch = new Stopwatch();
    List<string> times = new List<string>();
    bool transcodeHasError = false;

    protected override async Task OnInitializedAsync()
    {
        _stopWatch.Start();

        if (FFmpegFactory.Runtime == null)
        {
            //FFmpegFactory.Logger += WriteLogs;
            //FFmpegFactory.Progress += ProgressChange;
        }

        //initialize Library
        await FFmpegFactory.Init(Runtime);
        _stopWatch.Stop();
        RecordTime("OnInitializeAsync", _stopWatch.ElapsedMilliseconds);

    }

    public void Dispose()
    {
        if (FFmpegFactory.Runtime != null)
        {
            //FFmpegFactory.Logger -= WriteLogs;
            //FFmpegFactory.Progress -= ProgressChange;
        }
    }

    private void RecordTime(string msg, long elapsedMs)
    {
        times.Add(String.Format($"{msg}: {elapsedMs}"));
    }

    async void FileLoad(InputFileChangeEventArgs v)
    {
        ClearStatus();

        transcodeHasError = false;
        _stopWatch.Restart();
        //get first file from input selection
        var file = v.GetMultipleFiles()[0];

        inputFileName = file.Name;
        var inputName = Path.GetFileNameWithoutExtension(inputFileName);
        var fileExtension = Path.GetExtension(inputFileName);
        // TODO: If extension is AVI, check that the file does not meet standards in order to continue processing
        outputFileName = inputName + ".avi";
        Console.WriteLine($"input file: {inputFileName}");
        Console.WriteLine($"name only: {inputName}");
        Console.WriteLine($"output file: {outputFileName}");
        Console.WriteLine($"content type: {file.ContentType}");

        //read all bytes
        try
        {
            using var stream = file.OpenReadStream(_maxFileSizeAllowed); //Max size for file that can be read
            buffer = new byte[file.Size];

            //read all bytes
            await stream.ReadAsync(buffer);
            _stopWatch.Stop();
            RecordTime("File load", _stopWatch.ElapsedMilliseconds);
        }
        catch (Exception ex) 
        {
            // File was too big
            ShowStatus($"Unable to read the file. Maximum file size allowed is {_maxFileSizeAllowed} bytes.");
        }

        //reRender DOM
        StateHasChanged();
    }

    async void Process()
    {
        ClearStatus();
        ShowStatus("Starting conversion...");

        transcodeHasError = false;
        times.Clear();
        _stopWatch.Restart();

        //create an instance
        ff = FFmpegFactory.CreateFFmpeg(new FFmpegConfig() { Log = true });
        var createMpegMs = _stopWatch.ElapsedMilliseconds;

        //download all dependencies from cdn
        await ff.Load();
        var ffLoadMs = _stopWatch.ElapsedMilliseconds;

        if (!ff.IsLoaded) return;

        //write buffer to in-memory files (special emscripten files, Ffmpeg only interact with this file)
        ff.WriteFile(inputFileName, buffer);
        var ffWriteFileMs = _stopWatch.ElapsedMilliseconds;

        //Pass CLI argument here equivalent to ffmpeg -i myFile.mp4 output.mp3
        await ff.Run("-f", "image2", "-loop", "1", "-t", "10", "-i", inputFileName, "-s", "640x480", "-aspect", "4:3", "-c:v", "mpeg4", "-vf", "fps=3", "-vtag", "XVID", "-an", outputFileName);
        _stopWatch.Stop();
        var ffRunMs = _stopWatch.ElapsedMilliseconds;

        RecordTime("Create FFMpeg Instance", createMpegMs);
        RecordTime("Load FFMpeg", ffLoadMs - createMpegMs);
        RecordTime("Write file", ffWriteFileMs - ffLoadMs);
        RecordTime("After Run", ffWriteFileMs - ffRunMs);

        ShowStatus("Starting download...");
        await DownloadFileAsync();

        //delete in-memory file
        ff.UnlinkFile(inputFileName);
        ff.UnlinkFile(outputFileName);

        Console.WriteLine("==================");
        foreach (var row in times)
        {
            Console.WriteLine(row);
        }

        if (!transcodeHasError)
        {
            ClearStatus();
        }
    }

    async Task DownloadFileAsync()
    {
        //get bytepointer from c wasm to c#
        try
        {
            var res = await ff.ReadFile(outputFileName);

            var fileLength = res.Length;

            if (fileLength <= 0)
            {
                // Transcode failed - show message
                transcodeHasError = true;
                ShowStatus($"No file was created. The selected file may not be a valid image format or the selected video data rate may be too low to create a working output file.");
            }
            else
            {
                //Download the file instantly
                //Console.WriteLine($"Downloading file...");
                _stopWatch.Restart();
                FFmpegFactory.DownloadBufferAsFile(res, outputFileName, "video/x-msvideo");
                _stopWatch.Stop();
                RecordTime("Download file", _stopWatch.ElapsedMilliseconds);
                //Console.WriteLine($"Download complete.");
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: error in DownloadFile: {ex.Message}" + Environment.NewLine + $"{ex.StackTrace}");
        }
    }

    async void ProgressChange(Progress m)
    {
        // display progress % (0-1)
        Console.WriteLine($"Progress {m.Ratio}");

        //if ffmpeg processing is complete (generate a media URL so that it can be played or alternatively download that file)
        if (m.Ratio == 1)
        {
            //get bytepointer from c wasm to c#
            var res = await ff.ReadFile(outputFileName);

            //Download the file instantly
            //Console.WriteLine($"Downloading file...");
            _stopWatch.Restart();
            FFmpegFactory.DownloadBufferAsFile(res, outputFileName, "video/x-msvideo");
            _stopWatch.Stop();
            RecordTime("Download file", _stopWatch.ElapsedMilliseconds);
            //Console.WriteLine($"Download complete.");

            StateHasChanged();
        }
    }

    void WriteLogs(Logs m)
    {
        Console.WriteLine(m.Type + " " + m.Message);

        if (m.Type == "fferr")
        {
            if (m.Message.Contains("error:", StringComparison.InvariantCultureIgnoreCase))
            {
                transcodeHasError = true;
                ShowStatus("Transcode encountered an error and has stopped");
            }
        }
    }

    void ShowStatus(string msg)
    {
        statusmsg = (string.IsNullOrEmpty(statusmsg)) ? msg : statusmsg + Environment.NewLine + msg;
        StateHasChanged();
    }

    void ClearStatus()
    {
        statusmsg = String.Empty;
        StateHasChanged();
    }
}
