@page "/"

<h1>Make an AVI File</h1>

<p>Convert images and videos to a very specifically formatted AVI file.</p>

<div>
    <p>Copyright @year Some Guy with a Keyboard</p>
</div>

@code {
    private int year = DateTime.Now.Year;
}
